<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <img class="header-img" src ="logo_daqeeq.png" > 
            <h1 class="display-4"> Welcome to Daqeeq Solutions </h1>
        </div>
    </div>
</div>

